.ChildsList {
 width: 100%;
}

.ChildsList ul {
    margin:auto;
    width: 100%;
}

.ChildsList li {
    display: flex;
}

.Delete {
    display: block;
}

.Name {
    font-size: 1.2rem;
    flex: 1
}

/* TABLET && LARGE SMARTPHONES */
@media screen and (min-width: 481px ) and (max-width: 768px) {
    .ChildsList ul {
        margin:auto;
        width: 80%;
    }
}
/* LAPTOPS && TABLET in Landscape */
@media screen and (min-width: 769px ) and (max-width: 1024px) {
    .ChildsList ul {
        margin:auto;
        width: 80%;
    }
}
/* LARGE DESKTOPS */
@media screen and (min-width: 1025px ) and (max-width: 1600px) {
    .ChildsList ul {
        margin:auto;
        width: 70%;
    }

}