.Home {

}

.Jumbotron {
    padding: 0;
    height: 250px;
}

.Jumbotron h3 {
    position: relative;
    bottom: 80px;
    background-color: #ccc;
    color: #444;
    opacity: .8;
    padding: 10px;
    font-style: italic;
    font-size: 1.1rem;
}

.Title h3 {
    margin: 40px auto;
}

.Explain {
    background: #eee;
}

.Explain div:nth-child(2) {
    margin-top: 20px;
}

.Benefit {
    width: 90%;
    margin:auto;
    margin-bottom: 20px;
}
.Benefit div:first-child {
    margin-bottom: 20px;
}

.Register {
    margin-bottom: 40px;
}
/* TABLET && LARGE SMARTPHONES */
@media screen and (min-width: 481px ) and (max-width: 768px) {
    .Jumbotron {
        padding: 0;
        height: 450px;
    }
    .Jumbotron h3 {
        bottom: 200px;
        font-size: 1.5rem;
        padding: 40px;
    }
    .Explain div:nth-child(1) {
        padding-left:0;
    }
    .Benefit {
        width: 90%;
        margin:auto;
        margin-bottom: 20px;
    }
    .Benefit div:first-child {
        margin-bottom: 0px;
    }
}
/* LAPTOPS && TABLET in Landscape */
@media screen and (min-width: 769px ) and (max-width: 1024px) {
    .Jumbotron {
        padding: 0;
        height: 620px;
    }
    .Jumbotron h3 {
        bottom: 250px;
        font-size: 2.5rem;
        padding: 40px;
    }
    .Explain div:nth-child(1) {
        padding-left:0;
    }
    .Explain div:nth-child(2) h5:nth-child(1) {
        font-size: 2rem;
    }
    .Benefit {
        width: 90%;
        margin:auto;
        margin-bottom: 20px;
    }
    .Benefit div:first-child {
        margin-bottom: 0px;
    }
}
/* LARGE DESKTOPS */
@media screen and (min-width: 1025px ) and (max-width: 1600px) {
    .Jumbotron {
        padding: 0;
        height: 750px;
    }
    .Jumbotron h3 {
        bottom: 300px;
        font-size: 2.5rem;
        padding: 40px;
    }
    .Explain div:nth-child(1) {
        padding-left:0;
    }
    .Explain div:nth-child(2) h5:nth-child(1) {
        font-size: 2rem;
    }
    .Benefit {
        width: 90%;
        margin:auto;
        margin-bottom: 20px;
    }
    .Benefit div:first-child {
        margin-bottom: 0px;
    }

}

@media screen and (min-width: 1601px )  {
    .jumbotron {
        min-height: 750px;
    }
}