.ChoreList {

}
.ChoreList ul {
    padding: 0;
}

.Name {
    font-size: 1.2rem;
    margin-right: 15px;
}

/* TABLET && LARGE SMARTPHONES */
@media screen and (min-width: 481px ) and (max-width: 768px) {

}
/* LAPTOPS && TABLET in Landscape */
@media screen and (min-width: 769px ) and (max-width: 1024px) {

}
/* LARGE DESKTOPS */
@media screen and (min-width: 1025px ) and (max-width: 1600px) {
    

}